/* ==========================================================================
Custom Styles
========================================================================== */


.hero p { color: #d0e7e9; font-style: italic; font-size: 17px; }

.hero-play-btn { height: 99px; width: 99px; background: url({{get_asset_url('Starnight/images/theme-assets/play-btn.png')}}) no-repeat center center; display: block; text-indent: -99999px; margin: 80px auto 260px; transition: all 1s ease; -moz-transition: all 1s ease; -webkit-transition: all 1s ease; -o-transition: all 1s ease; }
.hero-play-btn:hover, .hero-play-btn:focus { transform: translate(0, -15px); -webkit-transform: translate(0, -15px); -o-transform: translate(0, -15px); -moz-transform: translate(0, -15px); }
.primary-button { background-color: #7accc8; padding: 20px 80px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; font-size: 22px; letter-spacing: 2px; box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4); transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; display: inline-block; }
.get-started-btn:hover, .get-started-btn:focus { text-decoration: none; background-color: #e8b968; }

.download-now { background: #e8b968 url({{get_asset_url('Starnight/images/theme-assets/ipadBG.png')}}) no-repeat right 65px; background-size: 50%; } 

.download-now p { color: #fff; font-size: 16px; margin: 40px 30px 40px 0; line-height: 30px; }
.download-btn { border: solid 3px #fff; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; font-size: 17px; letter-spacing: 2px; transition: all 0.5s ease; padding: 15px 70px; display: inline-block; color: #fff; margin-bottom: 185px; }
.download-btn:hover, .download-btn:focus { text-decoration: none; border-color: #a58347; color: #a58347; }



.features p { color: #7a8387; font-size: 16px; word-spacing: 2px; line-height: 30px; }
.features-leftcol { border-right: 1px solid rgba(208, 217, 226, 0.4); padding-right: 60px; }
.features-rightcol { padding-left: 60px; }
.margin-bottom { margin-bottom: 70px; }
.try-btn { background-color: #f69679; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; font-size: 17px; color: #fff; transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; display: inline-block; padding: 15px 50px; margin: 70px 0 70px; }
.try-btn:hover, .try-btn:focus { background-color: #e37857; color: #fff; text-decoration: none; }

.design { padding: 100px 0; background-color: #f6f6f4; position: relative; }
.flat-box { background-color: #fff; -webkit-box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1); -moz-box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1); box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1); transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
.flat-box:hover, .flat-box:focus { transform: translate(0, -15px); -webkit-transform: translate(0, -15px); -o-transform: translate(0, -15px); -moz-transform: translate(0, -15px); }
.colourway { height: 346px; }
.colour1 { background-color: #f69679; }
.colour2 { background-color: #e8b968; }
.colour3 { background-color: #7accc8; }
.colour4 { background-color: #373b44; }
.title { font-size: 15px; color: #9197a8; text-transform: uppercase; font-weight: 600; letter-spacing: 2px; padding: 20px 40px 0; }
.feature-text { padding: 0px 20px 40px 40px; font-style: italic; color: #7a8387; font-size: 16px; }
.design-content p { color: #abbcc3; line-height: 30px; font-weight: 300; }
.controls a { color: #959595; transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
.controls a:hover, .controls a:focus { color: #555555; }
.controls .prev { margin-right: 5px; }

footer { background-color: #7accc8; padding: 75px 0 220px; }
footer p { color: #fff; line-height: 30px; }
.footer-nav { list-style: none; padding: 0; }
.footer-nav li a { display: block; color: #fff; padding: 5px; transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
.footer-nav li a:hover, .footer-nav li a:focus { text-decoration: none; color: #5db3af; }
.badge-btn { width: 60px; height: 62px; background: url({{get_asset_url('/Starnight/images/theme-assets/footer-logo.png')}}) no-repeat center center; text-indent: -99999px; display: block; margin: 65px auto 65px; -webkit-transition-duration: 3s; -moz-transition-duration: 3s; -o-transition-duration: 3s; transition-duration: 3s; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; transition-property: transform; }
.badge-btn:hover, .badge-btn:focus { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); }
.footer-credit { font-size: 12px; text-transform: uppercase; letter-spacing: 5px; }
footer a { color: #42817e; transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
footer a:hover, footer a:focus { color: #2f5c5a; text-decoration: none; }